matlab-script-for-sparse-grid/82x1_sparse_grid/domain_82x1_sparse_grid_c150528.nc
matlab-script-for-sparse-grid/82x1_sparse_grid/surfdata_82x1_sparse_grid_c150528.nc
matlab-script-for-sparse-grid/clm-netcdf

